* {
  box-sizing: border-box;
}
.container {
  text-align: center;
  background-image: url(https://wv-m13-demo.netlify.app/src/weather/bg.jpeg);
  background-size: cover;
  height: 700px;
}
.input {
  height: 60px;
  width: 300px;
  margin: 50px 15px 0px 30px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 2px 2px orange;
  border: none;
  outline: none;
}
.input[placeholder="Search for a city"] {
  font-size: 20px;
}
.button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  border: none;
}
.loading {
  color: rgb(148, 148, 148);
  font-size: 30px;
  margin-top: 100px;
}
.error {
  color: rgb(255, 0, 0);
  font-size: 30px;
  margin-top: 100px;
}
.weather {
  color: rgb(0, 157, 255);
  font-size: 30px;
  margin-top: 100px;
}
